body{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 10px;
}

#AData, #BData, #CData, #DData, #EData, #FData{
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;
    font-weight: 700;
}